*{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;

}
.header{
  width:100%;
  height:80px;
  display: block;
  background-color:#101010;
  vertical-align: middle;
}
#logoimage{
  width:65px;
  vertical-align: middle;
  margin-left: 20px;
  margin-top:7px;

}
.logowithname li{
  vertical-align: middle;
  display: table-cell;
  float: left;
  display: inline;

}
.mm{
  padding-top: 25px;
  padding-left: 5px;
  color:white;
}
.navigation li{
  display: inline;
  padding:50px;
  color: white;
  font-size:20px;
}
.navigation{
  padding-top: 30px;

}
ul{
  margin-left: 100px;
}
