body{
margin: 0;
padding: 0;
font-family:sans-serif;
background-image: url(12345.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}
.Signinform
{
  width: 300px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  padding: 20px;
  margin:8% auto 0;
  text-align: center;
}
.inputbox
{
  border-radius: 10px;
  padding: 9px;
  margin: 10px 0;
  width: 90%;
  outline: none;
  border: 1px solid #999;
}
button
{
  color: black;
  background-color: #34ebe8;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
}
img
{
  width: 70px;
}
a {
  color: blue;
}
